@charset "utf8";
* {font-family: Arial, Helvetica, sans-serif;
   font-family: Arial, Helvetica, sans-serif;
}
body{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.5em;
    background-image: linear-gradient(to right, #df6d10, #5c3d03);
    
}
header{
   border-radius:10px ;
   text-align: center;
   background-color: #0f587c;
   color: white;
   padding: 10px;

}
main{
   background-color: white;
   color: rgb(0, 0, 0);
   border-radius: 10px;
   box-shadow: 5px 5px 5px rgb(156, 146, 151);
   width: 680px;
   padding: 10px;
   margin: auto;
   

 
}
article{
   color: black;
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: justify;
   
}
img{
 
}
div{
    background-color: rgb(255, 254, 254);
    width: 680px;
    padding: 10px;
    margin: auto;
    
  
}
